POSTGRES_DB=localmarket
POSTGRES_USER=localmarket
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# Csak a "tools" profilhoz (pgAdmin)
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=

# Amíg nincs migration és nincs implementálva az automatikus futtatás, maradjon false
MIGRATE_ON_STARTUP=false
